
			#xiaozi{
				position: absolute;
				bottom: 3vh;
				font-size: 1vw; 
				letter-spacing: 5px; 
				opacity:0.5; 
				text-align: center; 
				width: 100%;
				color: white;		}
			input::-webkit-input-placeholder{
				font-size: 0.9vw;
			}
			
			#myBtn {
			            display: none;/* 默认隐藏 */
			            position: fixed;
						opacity: 0.7;
						width: 90px;
			            bottom: 20px;
			            right: 30px;
			            z-index: 99;
			            border: none;
			            outline: none;
			            background-image: linear-gradient(to top, #09203f 0%, #537895 100%);/* 设置背景颜色，你可以设置自己想要的颜色或图片 */
			            color: white;/* 文本颜色 */
			            cursor: pointer;
			            padding: 15px;
			            border-radius: 10px;/* 圆角 */
						
			        }
						            #myBtn:hover {
							transition: all 1s;
			                background-color: #555;
			            }
				
			.nav{
				position: fixed;
				top: 3vw;right: 5vw;
				box-shadow: 2px 2px 3px 5px rgba(0,0,0,0.25);
				border-radius: 2%;
				width: fit-content;
				height: fit-content;
				text-align: center;
			}
			#zuo:hover{
				text-align:left;
				transition: all 1s;
			}
			#you:hover{
				text-align:right;
				transition: all 1s;
			}
			
			#dazi:hover{
				
				
				opacity:0;
				
				}
			#dazi{
				color: white;	
				width: fit-content;
				height: fit-content;
				margin: 0 auto;
				text-align: center;
				font-size: calc(5vw);
				animation-name:yuan;
				animation-duration: 10s;
				animation-iteration-count: infinite;
				transition: all 3s;
			}
			
			@keyframes yuan{
				50%{
					letter-spacing: 30px;
					
				}
			}
			.middle{
				height:510px;
				width:100%;
				background-color: #e6fdff;
				
				box-shadow: 0px -5px 5px #000000;
			}
			a{
				text-decoration:none}
			.top{
			
				height: 3vw;
				width: 2vw;
				margin-left: 10px;
				margin-right: 10px;
				color: white;
				float: right;
				font-size: 1vw;
				text-shadow: 0 1px 2px  rgba(0,0,0,1);
			
				
			}
			a:hover{
				border-bottom: medium solid rgb(0, 0, 0);
				transition: all 0.3s;
				
			}
			*{
				margin: 0;
				
			}
			.font{
				width: fit-content;
				height:  fit-content;
				font-size: 3vw;
				font-weight: bold;
				color: white;
				text-align: center;
				text-shadow: 0 2px 1px  rgba(0,0,0,0.25);
				margin-top: 10px;
				margin-left: 50px;
				}
				
			
			img{
				height: 200px;
				
			    align: "middle";
				margin-bottom: 0px;
				border-radius: 5%;
			}
			html,body{
				height: 100%;
				margin: 0;
			}
			body{
				
				width：100%；
				     height: 100%;
				    /* 加载背景图 */
				    background: #555;
					animation-name: backdi;
					filter: blur(0px);
					animation-duration: 20s; 
					animation-iteration-count: infinite;
				    /* 背景图垂直、水平均居中 */
				    background-position: center center;
				    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
				    background-attachment: fixed;
				    /* 让背景图基于容器大小伸缩 */
				    background-size: cover;
				    /* 设置背景颜色，背景图加载过程中会显示背景色 */
					
					transition: all 1s;
					}
			
			
			}
			@keyframes backdi{
				50%{
				background: url(https://github.com/AAAAsea/index/blob/master/git%20image/wallhaven-vgj63p.png?raw=true	)  no-repeat;	
				transition: all 10s;
				}
				
				
			}
			.geci{
					
				text-align: center;
				line-height: 40px;
				color: #00BFFF; 
				font-family: "arial rounded mt bold";
				font-size: 20px；
				width: 100%;
				height: 2200px;
				box-shadow: 0px -5px 5px #000000;
				background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
			  		animation-name: huang;
				    animation-duration: 20s; 
				    animation-iteration-count: infinite;
			}
				
			.footer1{
				height:50px;
				background-color: white;
			}
			.footer2{
				opacity: 0.5;
				height:27px;
				text-align: center;
				font-size: 25px;
				color: whitesmoke;
				line-height: 0px;
				font-family: "arial rounded mt bold";
				
			}
			
			@keyframes huang{
				50%{
					letter-spacing: 5px;
					color: #B8860B;
				}
				
			}
			
			.button{
				position: absolute;
				bottom: 20px;
				right: 10px;
				width: 70px;
				height: 40px;
				background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
				border-radius: 5%;
				border-width: 0;
				opacity: 0.5;
					
			}
				
			button:hover{
				cursor: pointer;
				transform: scale(1.1);
				transition: all 0.5s;
				box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.25)
			}
			img:hover{
				transform: scale(1.15);
				transition: all 0.5s;
				animation-name: huang;
				    animation-duration: 20s; 
				    animation-iteration-count: infinite;
			}
			h1:hover{
				opacity: 0;
				transition: all 1.2s;
				
			}
		
			}
			
			
			
			#ovo {
				text-align: right;
				color: white;
				font-size: 20px;
				font-weight: bold;
				transition: 1s;
				height: fit-content;
				width: fit-content;
				}
			#ovo:hover {
				color: #949494;
				
				
			}
			#box1{
				width: 30vw;
				height: 2vw;
				border-radius:5px;
				box-shadow: 1px 1px 1px #4a4040;
				opacity: 0.7;
			}
			#box2{
				width: 6vw;
				height: 2.3vw;
				border-radius:5px;
				color: gray;
				opacity: 0.7;
				
			}
			#box1:hover{
				box-shadow: 0px 1px 0px 0px #79767f;
				transition: all 0.3s;
				transform: scale(1.01);
				opacity: 1;
			}
			#box2:hover{
				box-shadow: 0px 1px 0px 0px #79767f;
				opacity: 1;
				transform: scale(1.03);
				transition: all 0.3s;
				cursor: pointer;
			}
			.article{
				margin-top: 30px;
				margin-left: 20vw;
				margin-right: 20vw;
				line-height: 40px;
				font-size: 20px;
				color: #ddd;
				margin-bottom: 50px;
			}
			.article h1{
				color: white;
			}
			.article h1:hover{
				opacity: 1;
				
			}
			
			
		
